/* You can add global styles to this file, and also import other style files */

.google-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}
